@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

button {
    font-family: 'Fredoka One', cursive;
    background-color: transparent;
    border: 0;
    color: white;
}

#mainContainer {
    display: flex;
    justify-content: center;
}

#button {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.store {
    background-color: green;
    border-radius: 10px;
    color: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 10px;
    width: 10vw;
}

.store h4 {
    margin: 5px;
    text-decoration: underline;
}

.store button:hover, #button:hover {
    color: yellow;
    cursor: pointer;
}

.store button:focus {
    outline: none;
    border: none;
}

#board {
    border: 2px black solid;
}

#board td {
    border: 1px rgb(182, 178, 178) solid;
    height: 5vh;
    width: 5vh;
}

#board td:hover {
    background-color: rgb(182, 178, 178);
    cursor: pointer;
}